:root {
    --primary-color: #00D4FF;
    --bg-dark: #FFF;
    --bg-card: #1E1E1E;
    --text-gray: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #121212;
    color: #FFF;
    line-height: 1.6;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1.5rem 5%;
    justify-content: space-between;
    background-color: rgba(18, 18, 18, 0.95);
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
    z-index: 1000;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #FFF;
}

@media (max-width: 786px) {
    .menu-toggle{
        display: block;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 70;
        flex-direction: column;
        background: var(--bg-card);
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        transition: 0.3s;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 1.5rem;
    }
}